<div class="bg-gray-200">
    <div class="w-9/12 m-auto py-16 min-h-screen flex items-center justify-center">
       <div class="bg-white shadow overflow-hidden sm:rounded-lg pb-8">
          <div class="border-t border-gray-200 text-center pt-8">
             <h1 class="text-9xl font-bold text-gray-400">404</h1>
             <h1 class="text-6xl font-medium py-8">oops! Page not found</h1>
             <p class="text-2xl pb-8 px-12 font-medium">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
             <a href="/mbuelo-maranda/Overview" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-gray-800 hover:bg-gray-600 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Explore Now
                  <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
              <a href="mbuelo-maranda/timeline" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-gray-500 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Check Out My Timeline
              </a> 
          </div>
       </div>
    </div>
 </div>