<nav class="bg-gray-800 ">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0">
        <a (click)="checkUser()" class="text-white text-lg font-semibold hover:text-indigo-300 cursor-help" [innerText]="'Mbuelo'"></a>
      </div>
      <div class="hidden md:block pr-10">
        <ul class="ml-4 flex space-x-4">
          <ng-container *ngFor="let link of links">
            <li>
              <a [href]="link.path" class="text-gray-300 hover:text-white relative">
                <span [innerHTML]="link.icon" class="inline-block mr-2"></span>
                {{ link.name }}
              </a>
            </li>
          </ng-container>
        </ul>        
      </div> 
      <div class="md:hidden">
        <button type="button" class="text-gray-300 hover:text-white focus:outline-none focus:text-white" aria-label="Toggle menu" (click)="toggleMobileMenu()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
    <ul class="md:hidden" [ngClass]="{ 'block': isMobileMenuOpen, 'hidden': !isMobileMenuOpen }">
      <ng-container *ngFor="let link of links">
        <li><a [href]="link.path" class="block px-4 py-2 text-sm text-gray-300 hover:text-white" [innerHTML]="link.name"></a></li>
      </ng-container>
    </ul>
  </div>
</nav>
