<div class="flex flex-col items-center justify-center p-3 bg-gray-100 min-h-screen">
  <h2 class="text-2xl md:text-4xl font-bold text-gray-800 mb-4">My Coding journey</h2>

  <ng-container *ngFor="let icon of menuIcons; let i = index">
    <div class="fixed top-1/2 right-0 transform -translate-y-1/2 border rounded-xl shadow-lg flex items-center justify-center flex-col bg-gray-200 hover:bg-gray-400" [style.top]="calculateTopPosition(i)">
      <a [href]="icon.name" class="p-4 text-gray-500 hover:text-gray-800 transition-colors" [innerHTML]="icon.icon">
      </a>
    </div>
  </ng-container>

  <div class="flex flex-col space-y-4 w-full sm:w-[80%] md:w-[80%] lg:w-[80%] xl:w-[80%]">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <ng-container *ngFor="let project of timelineArray; let x = index">
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-500" [innerText]="project.dates | titlecase"></time>
          <h3 class="text-lg font-semibold text-gray-800" [innerText]="project.language"></h3>
          <p class="mb-4 text-base font-normal text-gray-600" [innerText]="project.paragraph"></p>
          <a
            *ngIf="true"
            href="#"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
            Learn more
            <svg
              class="w-3 h-3 ms-2 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
      </ng-container>
    </ol>
    <!-- Timeline Item -->
  </div>
</div>
<app-footer></app-footer>