@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
      transform: translateX(90px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      transform: translateX(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1.0s ease-in-out;
    animation-fill-mode: both;
    opacity: 0;
  }
  

  /* Add this to your component's CSS file or styles.scss */
/* Center the toaster */
.center-toast {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dim the background overlay */
.bg-opacity-50 {
  opacity: 0.5;
}
