<div *ngIf="projects" class="bg-gradient-to-br from-blue-500 to-purple-500 min-h-screen p-2">
  <h2 class="text-2xl md:text-4xl font-bold text-gray-200 mb-4 text-center py-4">Projects</h2>

  <div class="max-w-5xl mx-auto px-4">
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white rounded-lg shadow-lg">
        <!-- Table header -->
        <thead>
          <tr>
            <th class="py-3 px-6 text-left">Project Image</th>
            <th class="py-3 px-6 text-left">Technologies Used</th>
            <th class="py-3 px-6 text-left">Status</th>
            <th class="py-3 px-6 text-left">Description</th>
            <th class="py-3 px-6 text-left">Action</th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <tr *ngFor="let project of projects" class="border-b border-gray-200 hover:bg-gray-100 fade-in"> <!-- Apply the fade-in class here -->
            <td class="py-3 px-6 text-left">
              <img [src]="getProjectImage(project)" alt="Project Image" class="w-20 h-12 object-cover">
            </td>
            <td class="py-3 px-6 text-left">
              <ng-container *ngFor="let type of project.projectType">
                <span class="inline-block bg-indigo-200 text-indigo-800 rounded-full px-2 py-1 text-xs font-semibold mr-2" *ngIf="type.includes('C#')">C#</span>
                <span class="inline-block bg-yellow-200 text-yellow-800 rounded-full px-2 py-1 text-xs font-semibold mr-2" *ngIf="type.includes('ASP.NET')">Asp.Net</span>
              <span class="inline-block bg-blue-200 text-blue-800 rounded-full px-2 py-1 text-xs font-semibold mr-2" *ngIf="type.includes('Angular')">TypeScript</span>
              <span class="inline-block bg-green-200 text-green-800 rounded-full px-2 py-1 text-xs font-semibold mr-2" *ngIf="project.projectType.includes('Angular')">Angular</span>
              </ng-container>
            </td>
            <td class="py-3 px-6 text-left">
              <span 
                [ngClass]="{
                  'bg-green-200 text-green-800': project.projectStatus, 
                  'bg-red-200 text-red-800': !project.projectStatus
                }"
                class="inline-block rounded-full px-2 py-1 text-xs font-semibold"
              >
              {{ project.projectStatus ? 'Completed' : 'in_Progress' }}  
            </span>

            </td>
            <td class="py-3 px-6 text-left">
              <div class="truncate">{{ project.projectInformation | truncate: 5 }}</div>
            </td>
            <td class="py-3 px-6 text-left">
              <button class="py-2 px-4 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition duration-300 ease-in-out" (click)="openProject(project.projectName)">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-project
*ngIf="showModal"
  [backgroundImage]="backgroundImage"
  [githubLink]="githubLink"
  [liveLink]="liveLink"
  (closeModal)="showModal = false"
></app-project>
