<app-navbar *ngIf="navigationVisibility" [links]="navigation"></app-navbar>
<div *ngIf="projects" class="bg-gray-100 min-h-screen p-2">
  <h2 class="text-2xl md:text-4xl font-bold text-gray-600 mb-4 text-center py-4">Projects</h2>


  <app-toaster
  *ngIf="showToaster"
  (closeToasterEvent)="closeToaster()"
  (openGitHubEvent)="openGitHub(selectedProject)"
  (openLiveWebsiteEvent)="openLiveWebsite(selectedProject)"
  [projectName]="selectedProject?.projectName"
  [projectDescription]="selectedProject?.projectInformation"
  [isAsp]="isAspProject(selectedProject)"
></app-toaster>


  <div class="max-w-5xl mx-auto px-4">
    <div class="overflow-x-auto">
      <table class="min-w-full bg-gray-300 rounded-lg shadow-lg overflow-hidden">
        <!-- Table header -->
        <thead>
          <tr class="bg-gray-400 rounded-md">
            <th class="py-3 px-6 text-left text-gray-100" [innerHTML]="'Project Image' | titlecase"></th>
            <th class="py-3 px-6 text-left text-gray-100" [innerHTML]="'Technologies Used' | titlecase"></th>
            <th class="py-3 px-6 text-left text-gray-100" [innerHTML]="'Status' | titlecase"></th>
            <th class="py-3 px-6 text-left text-gray-100" [innerHTML]="'Project Name' | titlecase"></th>
            <th class="py-3 px-6 text-left text-gray-100" [innerHTML]="'Action' | titlecase"></th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <tr *ngFor="let project of projects" class="border-b border-r border-l border-gray-200 hover:bg-gray-100 fade-in-out">
            <td class="py-3 px-6 text-left">
              <img [src]="getProjectImage(project)" alt="Project Image" class="w-20 h-12 object-cover">
            </td>
            <td class="py-3 px-6 text-left">
              <ng-container *ngFor="let type of project.projectType; let i = index">
                <span class="inline-block" [ngClass]="getCssClass(type, i)">
                  {{ type }}
                </span>
              </ng-container>
            </td>
                         
            <td class="py-3 px-6 text-left">
              <span 
                [ngClass]="{
                  'bg-green-200 text-green-800': project.projectStatus, 
                  'bg-red-200 text-red-800': !project.projectStatus
                }"
                class="inline-block rounded-full px-2 py-1 text-xs font-semibold">
              {{ project.projectStatus ? 'Completed' : 'in_Progress' }}  
            </span>
            </td>
            <td class="py-3 px-6 text-left">
              <div class="truncate text-cyan-800"><p class="shadow-md ">{{ project.projectName | truncate: 25 }}</p></div>
            </td>
            <td class="py-3 px-6 text-left">
              <button class="py-2 px-4 bg-gray-700 text-white shadow-md rounded-md hover:bg-gray-800 transition duration-300 ease-in-out" (click)="openToaster(project)">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-footer *ngIf="navigationVisibility"></app-footer>
