<section class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4">Add Project</h2>
    <form (ngSubmit)="saveProject()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Project Name</label>
        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" [(ngModel)]="project.projectName" required>
      </div>
      
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Project Type</label>
        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" [(ngModel)]="project.projectType" required>
      </div>
      
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Type Icon</label>
        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" [(ngModel)]="project.typeIcon" required>
      </div>
      
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Project Images</label>
        <textarea class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" [(ngModel)]="project.projectImages" required></textarea>
      </div>
      
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Project Information</label>
        <textarea class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" [(ngModel)]="project.projectInformation" required></textarea>
      </div>
      
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Project GitHub Repo</label>
        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" [(ngModel)]="project.projectGitHubRepo" required>
      </div>
      
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Steps</label>
        <textarea class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" [(ngModel)]="project.steps" required></textarea>
      </div>
      
      <div class="flex justify-end">
        <button type="submit" class="px-4 py-2 bg-indigo-500 text-white font-bold rounded hover:bg-indigo-700">Save</button>
      </div>
    </form>
  </section>
  