<!-- <div class="absolute h-full inset-0 bg-black opacity-70 rounded-md shadow-lg"></div> -->

<div class="mywrap flex justify-center items-center inset-0 bg-black opacity-80">
  <a [href]="liveLink" class="py-4 px-6 bg-indigo-600 text-white font-medium rounded-md shadow-lg hover:bg-indigo-700 transition duration-300 ease-in-out">
    View Project
  </a>
  <a [href]="githubLink" class="py-4 px-6 bg-gray-800 text-white font-medium rounded-md shadow-lg hover:bg-gray-900 transition duration-300 ease-in-out">
    View Code Source
  </a>
</div>
