<div class="flex flex-wrap items-center justify-center p-4 space-y-8">
<div class="fixed inset-x-0 top-0 md:left-2 md:top-2 text-white text-center bg-blue-400 rounded-full p-2 text-xs font-semibold z-10">
  This page is under development
</div>

  <ng-container *ngFor="let step of project.steps; let i = index">
    <div class="flex flex-wrap-reverse justify-between w-full space-x-4" [ngClass]="{'flex-row-reverse': i % 2 !== 0}">
      <div class="w-full md:w-1/2 fade-in"> <!-- Apply the fade-in class here -->
        <div class="bg-gradient-to-r from-purple-400 to-blue-500 p-8 rounded-lg shadow-lg">
          <img [src]="getStepImage(i)" alt="Step Image" class="w-full h-auto rounded-lg">
        </div>
      </div>
      <div class="w-full md:w-1/2 fade-in"> <!-- Apply the fade-in class here -->
        <div class="bg-white p-8 rounded-lg shadow-lg">
          <p class="text-gray-700 text-base" [innerHTML]="step"></p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
