<app-navbar [links]="navigation" [ngClass]="{'hidden': hideNavigation}" class="fixed top-0 left-0 right-0 z-10 transition-all duration-300"></app-navbar>
<app-messagetoaster></app-messagetoaster>

<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 to-purple-500">
  <h1 class="text-4xl md:text-6xl font-bold text-gray-600" [innerHTML]="name"></h1>
  <p class="mt-4 text-xl md:text-2xl text-gray-500" [innerHTML]="role"></p>
  <p class="mt-4 text-lg md:text-xl text-gray-500 p-6" [innerHTML]="paragraph"></p>
  <div class="mt-8 z-0 relative">
    <div class="w-full h-full  object-cover rounded-full bg-gradient-to-br from-black via-transparent to-transparent absolute bottom-6 right-12 border-b-4 border-gray-500"></div>
    <img [src]="image" alt="Profile Image" class="w-48 h-48 object-cover relative z-10 rounded-full border-b-2 border-gray-400">
  </div>
</div>
<a href="https://github.com/Maranda-Mbuelo" target="_blank" class="fixed bottom-4 right-4 p-4 bg-transparent-black text-white rounded-full shadow-lg hover:bg-gray-900 transition duration-300 ease-in-out">
  <i class="fa-brands fa-github text-2xl"></i>
</a>
<app-offers></app-offers>
<app-projects></app-projects>
<app-footer class="w-full bg-gray-100"></app-footer>