<app-navbar [links]="navigation"></app-navbar>
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-200">
    <h1 class="text-4xl md:text-6xl font-bold text-gray-800" [innerHTML]="name"></h1>
    <p class="mt-4 text-xl md:text-2xl text-gray-600" [innerHTML]="role"></p>
    <p class="mt-4 text-lg md:text-xl text-gray-600 p-6" [innerHTML]="paragraph">
    </p>
    <div class="mt-8 rounded-full overflow-hidden">
      <img [src]="image" alt="Profile Image" class="w-48 h-48 object-cover bg-gray-300">
    </div>
</div>
<a href="https://github.com/Maranda-Mbuelo" target="_blank" class="fixed bottom-4 right-4 p-4 bg-gray-800 text-white rounded-full shadow-lg hover:bg-gray-900 transition duration-300 ease-in-out">
  <i class="fa-brands fa-github text-2xl"></i>
</a>
<app-offers></app-offers>
<app-projects></app-projects>