@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    margin: 0;
    padding: 0;
}


html,
body {
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
    padding: 0!important;
    background-color: #f1f1f1;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #504e70;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(150, 148, 148);
    border-radius: 12px;
}