@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    margin: 0;
    padding: 0;
}


html,
body {
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
    padding: 0!important;
}