.shadow-fade {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.shadow-fade:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.space-x-4>*:not(:last-child) {
  margin-right: 1.2rem;
}

@media (min-width: 768px) {
  .flex-wrap {
    flex-wrap: wrap;
  }
}


/* Animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }
}

.text-fade-in {
  animation: fadeIn 1.5s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes buttonsFade {
  0% {
    opacity: 0;
    transform: translateY(400px);
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }
}

.buttons-fade-in {
  animation: buttonsFade 1.5s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes imageFade {
  0% {
    opacity: 0;
    transform: translateY(400px);
    transform: translateX(200px);
    animation-delay: 0.5s;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }
}

.image-fade-in {
  animation: imageFade 1.5s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;
}